:root {
  --sass-color: #cf649a;
}

.md-typeset h1 {
  color: var(--sass-color);
}

.md-typeset h2 {
  border-bottom: 2px solid var(--sass-color);
  padding-bottom: 0.3rem;
}

.md-typeset a {
  color: var(--sass-color);
}

/* ========== footer ========== */
.custom-footer {
  margin-top: 5rem;
  background: #111827;
  color: white;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 3rem;

  padding: 3rem 2rem;
}

.footer-column h3 {
  margin-bottom: 1rem;

  color: #ff5fa2;
}

.footer-column p {
  color: #d1d5db;
}

.footer-column ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-column li {
  margin: 0.7rem 0;
}

.footer-column a {
  color: #d1d5db;
  text-decoration: none;
}

.footer-column a:hover {
  color: white;
}

.footer-bottom {
  border-top: 1px solid #374151;

  padding: 1rem;

  text-align: center;

  font-size: 0.9rem;

  color: #9ca3af;
}
